@import '../utilities/styles.scss';

@mixin button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    @media only screen and (max-width: $mobileMax) {
        display: flex;
        flex-direction: column;
    }

    .buttons {
        width: 60%;
        @include button;

        @media only screen and (max-width: $tabletMax) {
            @include button;
            width: 100%;
        }

        @media only screen and (max-width: $mobileMax) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    .search {
        @include button;
        width: 40%;

        @media only screen and (max-width: $tabletMax) {
            @include button;
            width: 100%;
        }
    }
}
