.headerWrapper {
    display: flex;
    flex-direction: row;
    width: auto;

    .buttons {
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
    }
}
