@import '../utilities/styles.scss';

//I used important here to overrite matrerial UI styles
.imageList {
    @media only screen and (max-width: $tabletMax) {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    @media only screen and (max-width: $mobileMax) {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}


.gif {
    border-radius: 2px;
    overflow: hidden;

    .heart {
        &:hover {
            color: #d80000;
        }
    }

    .subtitle {
        div {
            &:first-of-type {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .details {
            &:hover {
                color: #ffffff;
            }
        }
    }
}

.noGifs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;

    span {
        color: #bdbdbd;
    }
}

